---
---

@import "{{ site.theme }}";

code {
    color: #252525;
    font-size: 12px;
    padding: 1px 7px;
    border-radius: 6px;
    display: inline-block;
    margin: 1px;
}


a {
    color: orange;
}


body {
font-size: 14px;
}


ul { margin-bottom:0 }

btn {display: none !important;}


